* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background: white;

}

.container {
    position: relative;
    max-width:  1280px;
    margin: 2% auto ;
}

.myRightCtn {
    position: relative;
    background-image: linear-gradient(45deg, #051d71, #5a9bf0);
    border-radius: 7px;
    padding: 1rem;
    color: darkgray;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.myRightCtn img {
    
    -webkit-filter: drop-shadow(5px 5px 5px #000);
    filter:         drop-shadow(5px 5px 5px #000); 
}

.myLeftCtn {
    position: relative;
    background: #fff;
    height: 100%;
    width: 100%;
}

.myLeftCtn header {
    color: blueviolet;
    font-size: 1.8rem;
    font-weight: 700;
/*    margin-bottom: 20px;*/
}

.row {
    margin: 0px;
}

.row #right-welcome{
/*    background-color: aqua;*/
    height: inherit;
}

.row #right-welcome h3{
    color:blue;
    font-size: 20px;
    font-weight: 200;
}
.row #right-welcome header{
    color:black;
    font-size:44px;
    font-weight: 700;
}

.row #last2rows .myLeftCtn {
    width: auto;
    margin: -10px -12px 0 -12px; 
}

.row #last2rows #explanation {
    padding: 20px;
    border: none;
    background-color: rgb(246,247,249);
    border-radius: 5px;
}


.row #last2rows .form-control {
    padding 20px;
    border: none;
    background-color: rgb(252,252,255);
    border-radius: 5px;
}

.row #last2rows .form-group {
    padding: 20px;
    border: none;
    background-color: rgb(246,247,249);
    border-radius: 5px;
}

.myCard {
    position: relative;
    background: #fff;
    border-radius: 7px;
}

.myRightCtn header {
    color: #fff;
    font-size: 35px;
}

.box {
    position: relative;
    padding: auto;
    color:white;
    padding: 1.2rem;
}

.box header {
    font-weight: 700;
    margin-bottom: 40px;
}

.box h2{
    margin-top: 50px;
    font-weight: 200;
    font-size: 20px;
}

.contact-left-group {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.contact-left-group p {
    color: white;
    display: block;
    font-size: 16px;
}

.contact-left-group h5 {
    font: 10px;
    color: white;
    display: block;
}

.icon-grp {
    text-align: center;
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1rem;
}

.contact-left-group i {
    font-size:  1.2rem;
    line-height: 3.2rem;
    color: #051d71;
}

.myLeftCtn .myInput {
    width: 100%;
    padding: 20px;
    border: none;
    background-color: rgb(246,247,249);
    border-radius: 5px;
    
}


.myLeftCtn .myInput:focus {
    outline: none;
    background-color: rgb(230,230,230);
}

.myForm {
    position: relative;
    margin-top: 20px;
    margin-left:0;
}

.form-group {
    margin-bottom: 1.6rem;
}

.myLeftCtn .btn-primary {
    background: linear-gradient(45deg, #051d71, #5a9bf0);
    color: #fff;
    width: 11rem;
    height: 4rem;
    border:none;
    border-radius: 6rem;
    padding: 0.9rem;
    font-weight: 600;
}

.myLeftCtn .btn-primary:hover {
    background: linear-gradient(-45deg, #051d71, #5a9bf0);
}





